<nav th:fragment="navbarFragment" class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">My SNS</a>

        <div class="nav-menu">
            <th:block sec:authorize="isAuthenticated()">
                <span class="nav-username">
                    <span sec:authentication="name"></span>&nbsp;님
                </span>
                <form th:action="@{/user/logout}" method="post" style="display:inline;">
                    <button type="submit" class="nav-item" style="background:none; border:none; padding:0; cursor:pointer; font-weight: bold; color:inherit;">로그아웃</button>
                </form>
            </th:block>
        </div>
    </div>
</nav>