<nav th:fragment="navbarFragment" class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">My SNS</a>

        <div class="nav-menu">
            <th:block sec:authorize="isAuthenticated()">
                <a class="nav-username" th:href="@{/user/detail}">
                    <span id="nav-username" sec:authentication="principal.nickname" style="font-weight: bold;"></span>&nbsp;님
                </a>
            </th:block>
        </div>
    </div>
</nav>